@import "../_style/theme";

.tm-water-mark {
  overflow: hidden;
  pointer-events: none;
  position: relative;

  &__content {
    left: 0;
    position: absolute;
    top: 0;
    transform: rotate(-30deg) translate3d(0, -50%, 0);
    transform-origin: center;
  }

  &__line {
    display: flex;
    line-height: 1;
  }

  &__item {
    white-space: nowrap;
  }

  &__slot {
    z-index: 1;
  }
}
