@import "../_style/theme";

.tm-coupon {
  @include one-px-border("round", $border-radius-mid);
  border-radius: $border-radius-mid;
  box-shadow: $shadow-bottom;
  color: $font-color-desc;
  font-size: $font-size-tag;
  overflow: hidden;
  touch-action: manipulation;

  &-vertical {
    padding: $spacing-mid;
    // 主要内容
    &__content {
      display: flex;
      justify-content: space-between;
    }

    // 标题
    &__title {
      color: $font-color-regular;
      font-size: $font-size-subtitle;
      font-weight: 500;
    }

    // 金额
    &__amount {
      align-items: baseline;
      display: flex;
      font-size: 70px;
      line-height: 1;
    }

    // 前缀与后缀
    &__prefix,
    &__suffix {
      font-size: 32px;
      vertical-align: middle;
    }

    // 展开区域
    &__expend {
      align-items: center;
      border-top: 2px dashed $border-color-default;
      display: flex;
      justify-content: space-between;
      margin-top: $spacing-sm;
      padding-top: $spacing-sm;
    }

    // 切换区域
    &__toggle {
      align-items: center;
      display: flex;

      &-icon {
        margin-left: $spacing-xxs;
      }
    }

    // 有效期
    &__expiration {
      flex-grow: 1;
    }

    // 使用规则
    &__rules {
      margin-top: $spacing-xs;
    }
  }

  &-horizon {
    display: flex;
    justify-content: space-between;
    // 左侧内容
    &__left {
      align-items: center;
      display: flex;
      flex-direction: column;
      height: 180px;
      justify-content: center;
      text-align: center;
      width: 33.3%;
    }

    // 右侧内容
    &__right {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      justify-content: space-between;
      padding: $spacing-sm $spacing-mid;
    }

    // 标题
    &__title {
      color: $font-color-regular;
      font-size: $font-size-regular;
      font-weight: 500;
    }

    // 副标题
    &__subtitle {
      color: $color-white;
    }

    // 金额
    &__amount {
      align-items: baseline;
      color: $color-white;
      display: flex;
      font-size: 70px;
      font-weight: 500;
      line-height: 1;
    }

    // 前缀与后缀
    &__prefix,
    &__suffix {
      font-size: 32px;
      vertical-align: middle;
    }

    // 底部内容
    &__footer {
      align-items: center;
      display: flex;
      justify-content: space-between;
    }
  }
}
