@import "../common/theme";

.tm-description-item {
  display: flex;

  &__title {
    color: $font-color-secondary;
    flex-shrink: 0;
    padding-right: $spacing-sm;
  }

  &__desc {
    flex-grow: 1;
  }
}
