@import "../common/theme";

.tm-divider {
  $self: &;
  align-items: center;
  color: $font-color-secondary;
  display: flex;
  font-size: $font-size-secondary;
  justify-content: center;
  position: relative;
  vertical-align: middle;
  // 左侧
  &::before {
    background-color: $border-color-default;
    content: "";
    height: 2px;
    transform: scaleY(0.5);
    width: 50%;
  }

  // 右侧
  &::after {
    background-color: $border-color-default;
    content: "";
    height: 2px;
    transform: scaleY(0.5);
    width: 50%;
  }

  // 左侧显示文字
  &-align-left {
    &::before {
      width: 5%;
    }

    &::after {
      width: 95%;
    }
  }

  // 右侧显示文字
  &-align-right {
    &::before {
      width: 95%;
    }

    &::after {
      width: 5%;
    }
  }

  // 自定义插槽
  &__text {
    display: inline-block;
    padding: 0 $spacing-mid;
    white-space: nowrap;
  }

  // 垂直模式
  &-vertical {
    background-color: $border-color-default;
    display: inline-block;
    height: 0.9em;
    width: 1px;
  }
}
