@import "../common/theme";
@import "../common/animation";

.tm-icon {
  display: inline-block;
  font-size: $icon-size-mid;
  line-height: 1;
  text-align: center;
  transform-origin: center;
  // 旋转状态
  &-spin {
    animation: spin 1s infinite linear;
  }

  // 旋转动画
  @include spin;
}
