@import "../common/theme";

.tm-list-item {
  $self: &;
  align-items: stretch;
  border: 1px solid transparent;
  display: flex;
  justify-content: space-between;
  position: relative;
  transition: background-color 0.15s;

  &-indent {
    padding-left: $spacing-lg;

    #{$self}__content {
      padding-left: 0;
    }
  }

  &-bordered {
    #{$self}__content {
      @include one-px-border("bottom");
    }
  }

  &-link {
    &:active {
      background-color: $background-action;
    }
  }

  &-disabled {
    @include disabled-mask(true);
  }

  &-has-image {
    #{$self}__content {
      padding-left: 0;
    }

    &#{$self}-indent {
      #{$self}__image {
        margin-left: 0;
      }
    }
  }

  &__image {
    align-items: center;
    display: flex;
    flex-shrink: 0;
    margin: 0 $spacing-mid;
  }

  &__content {
    align-items: center;
    display: flex;
    padding: $spacing-mid;
    width: 100%;
  }

  &__head {
    flex-shrink: 0;
    margin-right: $spacing-mid;

    &-top {
      align-self: flex-start;
    }
  }

  &__title {
    font-size: $font-size-regular;
  }

  &__subtitle {
    color: $font-color-desc;
    font-size: $font-size-tag;
  }

  &__slot {
    flex-grow: 1;
  }

  &__action {
    flex-shrink: 0;
  }

  &__arrow {
    color: $font-color-desc;
    flex-shrink: 0;
    font-size: $icon-size-sm;
    margin-left: $spacing-sm;
  }
}
