@import "../common/theme";

.tm-search {
  $self: &;
  align-items: center;
  background-color: $background-action;
  border-radius: $border-radius-sm;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  padding: 0 $spacing-mid;
  position: relative;
  width: 100%;

  &-shadow {
    box-shadow: $shadow-bottom;
  }

  &-bordered {
    @include one-px-border("round", $border-radius-sm);
  }

  &-round {
    border-radius: 99999px;

    &#{$self}-bordered {
      @include one-px-border("round", 99999px);
    }
  }

  .tm-input {
    padding-right: 0;
    width: 100%;
  }

  &__icon {
    color: $font-color-desc;
    font-size: $icon-size-sm;
  }
}
