@import "../common/theme";

.tm-select-option {
  $self: &;

  &__selected-icon {
    color: $color-primary;
    display: none;
    font-size: $icon-size-sm;
  }

  &-selected {
    #{$self}__selected-icon {
      display: block;
    }
  }
}
