@import "../_style/theme";

.tm-scroll {
  height: 100%;
  overflow: hidden;
  position: relative;
  width: 100%;

  scroll-view,
  taro-scroll-view-core {
    height: inherit;
  }

  &__slot {
    position: relative;
    z-index: 1;
  }

  &__refresher {
    align-items: flex-end;
    display: flex;
    height: 500px;
    justify-content: center;
    left: 0;
    position: absolute;
    top: -500px;
    width: 100%;
  }
}
