@import "../_style/theme";

.tm-card {
  $self: &;
  background-color: $color-white;

  // 显示阴影
  &-shadow {
    box-shadow: $shadow-bottom;
  }

  // 显示边框
  &-bordered {
    @include one-px-border("round");
    // 圆角边框
    &#{$self}-round {
      border-radius: $border-radius-mid;

      &:after {
        border-radius: $border-radius-mid * 2;
      }
    }
  }

  // 头部
  &__head {
    align-items: center;
    border-bottom: 1px solid $border-color-default;
    display: flex;
    justify-content: space-between;
    padding: $spacing-mid $spacing-mid $spacing-sm;
  }

  // 底部
  &__footer {
    align-items: center;
    border-top: 1px solid $border-color-default;
    display: flex;
    justify-content: space-between;
    padding: $spacing-sm $spacing-mid $spacing-mid;
  }

  // 标题
  &__title {
    font-size: $font-size-primary;
    font-weight: 500;
  }

  // 主要内容
  &__body {
    overflow: hidden;
    padding: $spacing-mid;
  }
}
