@import "../_style/theme";

.tm-collapse {
  $self: &;
  padding: $spacing-mid 0;
  touch-action: manipulation;

  // 子项
  .tm-collapse-item {
    &:not(:nth-last-child(1)) {
      margin-bottom: $spacing-mid;
    }

    &:nth-of-type(1) {
      .tm-collapse-item {
        &__slot {
          padding-top: 0;
        }
      }
    }

    &:nth-last-child(1) {
      .tm-collapse-item {
        &__head {
          padding-bottom: 0;
        }

        &__slot {
          padding-bottom: 0;
        }
      }

      &::after {
        display: none;
      }
    }
  }

  // 圆角边框
  &-round {
    border-radius: $border-radius-mid;

    &#{$self}-bordered:after {
      border-radius: $border-radius-mid * 2;
    }
  }

  // 显示边框
  &-bordered {
    @include one-px-border();
  }

  // 显示阴影
  &-shadow {
    box-shadow: $shadow-around;
  }
}
