@import "../_style/theme";

.tm-drawer {
  $self: &;
  background-color: $color-white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: $spacing-lg $spacing-lg 40px $spacing-lg;

  // 底部显示
  &-bottom {
    border-top-left-radius: $border-radius-lg;
    border-top-right-radius: $border-radius-lg;
    min-height: 200px;
    width: 100vw;

    #{$self}__head {
      display: flex;
      font-size: $font-size-primary;
      justify-content: space-between;
      line-height: 1;

      &-cancel {
        color: $font-color-secondary;
        padding-right: $spacing-sm;
      }

      &-title {
        color: $font-color-title;
        flex-grow: 1;
        font-size: $font-size-title;
        text-align: center;
      }

      &-confirm {
        color: $color-primary;
        padding-left: $spacing-sm;
      }
    }
  }

  // 侧边显示
  &-left {
    border-bottom-right-radius: $border-radius-lg;
    border-top-right-radius: $border-radius-lg;
  }

  &-right {
    border-bottom-left-radius: $border-radius-lg;
    border-top-left-radius: $border-radius-lg;
  }

  &-left,
  &-right {
    height: 100%;
    width: 90vw;

    #{$self}__head {
      color: $font-color-title;
      font-size: $font-size-title;
    }

    #{$self}__footer {
      align-items: center;
      display: flex;
      justify-content: space-between;
      margin-top: $spacing-sm;

      &-cancel,
      &-confirm {
        flex-grow: 1;
      }

      &-cancel {
        margin-right: $spacing-mid/2;
      }

      &-confirm {
        margin-left: $spacing-mid/2;
      }
    }
  }
}
