@import "../_style/theme";

.tm-description-item {
  display: flex;
  padding: $spacing-mid;

  &__title {
    flex-shrink: 0;
    font-weight: 500;
    padding-right: $spacing-mid;
  }

  &__desc {
    flex-grow: 1;
  }
}
