@import "../_style/theme";

.tm-checkboxOption {
  $self: &;
  align-items: center;
  display: flex;
  position: relative;

  // 尺寸
  &-lg {
    #{$self}__selector {
      height: $height-mid;
      width: $height-mid;

      .tmIcon {
        font-size: $icon-size-mid;
      }
    }
  }

  &-mid {
    #{$self}__selector {
      height: $height-sm;
      width: $height-sm;

      .tmIcon {
        font-size: $icon-size-sm;
      }
    }
  }

  &-sm {
    #{$self}__selector {
      height: $height-xs;
      width: $height-xs;

      .tmIcon {
        font-size: $icon-size-xs;
      }
    }
  }

  // 选中状态
  &-checked {
    #{$self}__selector {
      background-color: $color-success;

      &::after {
        display: none;
      }

      &-icon {
        color: $color-white;
        opacity: 1;
      }
    }
  }

  // 禁用
  &-disabled {
    @include disabled-mask();
  }

  // 单选模式
  &-radio {
    #{$self}__selector {
      border-radius: 50%;
      @include one-px-border("round", 50%);
    }
  }

  &__selector {
    align-items: center;
    background-color: $background-action;
    border-radius: $border-radius-sm;
    display: flex;
    justify-content: center;
    @include one-px-border("round", $border-radius-sm);

    &-icon {
      opacity: 0;
    }
  }

  &__title {
    margin-left: $spacing-sm;
  }
}
