@import "../_style/theme";

.tm-bill-item {
  $this: &;
  display: flex;
  justify-content: space-between;
  margin-bottom: $spacing-mid;

  &-bold {
    color: $font-color-title;
    font-weight: 600;

    #{$this}__title {
      color: $font-color-title;
    }
  }

  &__title {
    color: $font-color-secondary;
  }
}
