@import "../common/theme";
@import "../common/animation";

.tm-calendar {
  $self: &;

  // 头部
  &__head {
    align-items: center;
    border-bottom: 1px solid $border-color-default;
    display: flex;
    justify-content: space-between;
    padding: $spacing-sm $spacing-mid;
    width: 100%;
  }

  // 减少年份与月份的按钮
  &__prev-btn {
    .tm-icon:nth-of-type(1) {
      margin-right: $spacing-lg;
    }
  }

  // 增加年份与月份的按钮
  &__next-btn {
    .tm-icon:nth-last-child(1) {
      margin-left: $spacing-lg;
    }
  }

  // 显示年月文字
  &__info {
    flex-grow: 1;
    font-size: $font-size-subtitle;
    text-align: center;
  }

  // 显示主体内容
  &__body {
    display: flex;
    flex-wrap: wrap;
  }

  // 显示天数
  &__day {
    width: 100%;
    // 天数项
    &-item {
      align-items: center;
      color: $font-color-placeholder;
      display: inline-flex;
      justify-content: center;
      padding: $spacing-sm 0;
      width: calc(100% / 7);
      // 当前月份
      &-current-month {
        color: $font-color-regular;
      }

      // 用于填充
      &-inner {
        padding-bottom: 70%;
        position: relative;
        width: 70%;
      }

      // 显示数字
      &-text {
        align-items: center;
        border-radius: $border-radius-sm;
        display: flex;
        font-size: $font-size-primary;
        height: 100%;
        justify-content: center;
        left: 0;
        overflow: hidden;
        position: absolute;
        top: 0;
        width: 100%;
        // 被选中状态
        &-picked {
          animation: bounce-in 0.2s linear;
        }
      }

      @include bounceIn;
    }
  }

  // 星期文字
  &__week {
    display: flex;
    padding: $spacing-mid 0 $spacing-sm;
    width: 100%;

    &-item {
      text-align: center;
      width: calc(100% / 7);
    }
  }

  // 底部
  &__footer {
    border-top: 1px solid $border-color-default;
    margin-top: $spacing-sm;
    padding: $spacing-sm $spacing-mid;
  }
}
